@{
    ViewData["Title"] = "Điện thoại";
    List<object> Model = ViewData["list"] as List<object>;
    List<object> ModelHang = ViewData["ListHang"] as List<object>;
    List<object> ModelRam = ViewData["ListRam"] as List<object>;
    List<object> ModelMemory = ViewData["ListMemory"] as List<object>;
    List<object> ModelManHinh = ViewData["ListManHinh"] as List<object>;
    var math = ViewData["math"];
    var ram = ViewData["ram"];
    var memory = ViewData["memory"];
    var screenSize = ViewData["screenSize"];
    KhachHang kh = ViewBag.KH;
    Pager pager = new Pager();


    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index">Trang chủ</a></li>
                    <li class="active">
                        <a href="/SanPham/DTDD">Điện thoại</a>
                    </li>
                    <li>
                        <a href="/SanPham/MayTinhBang">Máy tính bảng</a>
                    </li>
                    <li><a href="/TinTuc/DanhSachTinTuc">Tin tức</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End mainmenu area -->

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Danh sách sản phẩm</h2>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2>Tìm kiếm</h2>
                    <form action="/SanPham/DTDD">
                        <input type="search" name="search" class="form-control" placeholder="Search" style="float:left; width:80%" />
                        <button role="button" class="btn btn-primary" style="float: left; width: 20%">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">

                    <form action="/SanPham/FilterProducts" method="get">

                    <div class="left-sidebar">
                    <h2>Danh mục</h2>
                        <div class="panel-group category-products"
                         id="accordian">
                        <!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                        Loại sản phẩm
                                </h4>
                            </div>
                            <div class="panel-body">
                                <ul style="list-style:none">
                                        <li><input type="checkbox" name="MaLoaiSP" value="DienThoai" onchange="this.form.submit()">Điện thoại</li>
                                        <li><input type="checkbox" name="MaLoaiSP" value="MayTinhBang" onchange="this.form.submit()">Máy tính bảng</li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                        Ram
                                </h4>
                            </div>
                            <div class="panel-body">
                                <ul style="list-style:none">
                                    @foreach (var hang in ModelRam)
                                    {
                                        <li>
                                            <input type="checkbox" name="Ram" value="@hang.GetType().GetProperty("Ram").GetValue(hang, null) onchange="this.form.submit()">
                                            @hang.GetType().GetProperty("Ram").GetValue(hang, null).ToString() GB
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                        Bộ nhớ trong
                                </h4>
                            </div>
                            <div class="panel-body">
                                <ul style="list-style:none">
                                        @foreach (var hang in ModelMemory)
                                        {
                                        <li>
                                            <input type="checkbox" name="Memory" value="@hang.GetType().GetProperty("BoNhoTrong").GetValue(hang, null)">
                                            @hang.GetType().GetProperty("BoNhoTrong").GetValue(hang, null).ToString() GB
                                        </li>
                                        }
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                        Màn hình
                                </h4>
                            </div>
                            <div class="panel-body">
                                <ul style="list-style:none">
                                        @foreach (var hang in ModelManHinh)
                                        {
                                        <li>
                                            <input type="checkbox" name="ScreenSize" value="@hang.GetType().GetProperty("kichthuocmanhinh").GetValue(hang, null)">
                                            @hang.GetType().GetProperty("kichthuocmanhinh").GetValue(hang, null).ToString()
                                        </li>
                                        }
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                        Hãng
                                </h4>
                            </div>
                            <div class="panel-body">
                                <ul style="list-style:none">
                                        @foreach (var hang in ModelHang)
                                        {
                                        <li>
                                            <input type="checkbox" name="Hang" value="@hang.GetType().GetProperty("MaTH").GetValue(hang, null)">
                                            @hang.GetType().GetProperty("TenTH").GetValue(hang, null).ToString()
                                        </li>
                                        }
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>

                    </form>

                </div>
                <div class="col-sm-9 padding-right">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 col-sm-6" style="float: left; width: 250px; height: 400px; padding: 10px; margin-top:20px; margin-bottom: 20px">
                            <div class="single-shop-product">
                                <div class="product-upper">
                                    <img src="@item.GetType().GetProperty("HinhAnh").GetValue(item, null).ToString()" alt="" />
                                </div>
                                <h3>
                                    <a href="/SanPham/ChiTietSP?t=@item.GetType().GetProperty("MaTTSP").GetValue(item, null).ToString()&l=@item.GetType().GetProperty("MaLoaiSP").GetValue(item, null)">
                                        @item.GetType().GetProperty("TenSP").GetValue(item, null).ToString()
                                    </a>
                                </h3>
                                <h4>
                                    @item.GetType().GetProperty("MauSac").GetValue(item, null).ToString()-
                                    @item.GetType().GetProperty("Ram").GetValue(item, null).ToString()GB-
                                    @item.GetType().GetProperty("BoNhoTrong").GetValue(item, null).ToString()GB
                                </h4>
                                <div class="product-carousel-price">
                                    @if (int.Parse(item.GetType().GetProperty("GiaKM").GetValue(item, null).ToString()) > 0)
                                    {
                                        <del>@string.Format("{0:0,0 đ}", item.GetType().GetProperty("Gia").GetValue(item, null))</del>
                                        <br />
                                        <ins>@string.Format("{0:0,0 đ}", item.GetType().GetProperty("GiaKM").GetValue(item, null))</ins>
                                    }
                                    else
                                    {
                                        <ins>@string.Format("{0:0,0 đ}", item.GetType().GetProperty("Gia").GetValue(item, null))</ins>
                                    }
                                </div>

                                <div class="product-option-shop">
                                    <a class="add_to_cart_button"
                                       data-quantity="1"
                                       data-product_sku=""
                                       data-product_id="70"
                                       rel="nofollow"
                                       href="/SanPham/ChiTietSP?t=@item.GetType().GetProperty("MaTTSP").GetValue(item, null)&l=@item.GetType().GetProperty("MaLoaiSP").GetValue(item, null)">
                                        Xem chi tiết
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                            @if (pager.TotalPages > 0)
                            {
                                <ul class="pagination">
                                    <li>
                                        @{
                                            var url = "";
                                            if (math != null)
                                            {
                                                url = "/SanPham/DTDD?pg=" + (pager.CurrentPage - 1) + "&math=" + math;
                                            }
                                            else url = "/SanPham/DTDD?pg=" + (pager.CurrentPage - 1);
                                        }
                                        <a href=@url aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                                    {
                                        if (math != null)
                                        {
                                            url = "/SanPham/DTDD?pg=" + (pge) + "&math=" + math;
                                        }
                                        else url = "/SanPham/DTDD?pg=" + (pge);
                                        <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                                            <a class="page-link" href=@url>@pge</a>
                                        </li>
                                    }
                                    <li>
                                        @{
                                            if (math != null)
                                            {
                                                url = "/SanPham/DTDD?pg=" + (pager.CurrentPage + 1) + "&math=" + math;
                                            }
                                            else url = "/SanPham/DTDD?pg=" + (pager.CurrentPage + 1);
                                        }
                                        <a href=@url aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            }
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
